@import "../variables.scss";

.tour-card{
  position: relative;
  overflow: hidden;
  @media (max-width: $max-mobile) {
    width: 270px;
    height: 386px;
  }

  @media (min-width: $min-tablet) {
    width: 309px;
    height: 386px;
  }

  @media (min-width: $min-desktop) {
    width: 260px;
    height: 386px;
  }


}

.tour-card__h3 {
  position: absolute;
  z-index: 2;
  color: #F9FBFD;
  transform: translateY(50%);
  width: 100%;

  @media (max-width: $max-mobile) {
    bottom: 15px;
    left: 25px;
  }

  @media (min-width: $min-tablet) {
    bottom: 21px;
    left: 35px;
  }

  @media (min-width: $min-desktop) {
    bottom: 16px;
    left: 30px;
  }
}

.tour-card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour-card__container{
  position: relative;
  width: 100%;
  height: 100%;
}

.tour-card__container:hover .tour-card__info {
  display: flex;
}

.tour-card__container--click {
  display: flex;
}

.tour-card__container:hover .tour-card__h3 {
  top: 22px;
  left: 25px;
  transform: translateY(-50%);
  bottom: auto;

  @media (min-width: $min-tablet) {
    left: 35px;
  }

  @media (min-width: $min-desktop) {
    left: 25px;
  }
}

.tour-card__h3--click {
  top: 35px;
  left: 25px;
  transform: translateY(-50%);
  bottom: auto;
}

.tour-card__info {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: #011C40;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  flex-direction: column;
  grid-auto-rows: min-content;
  width: 100%;
  height: 100%;
  padding: 53px 25px 35px 25px;
  box-sizing: border-box;
  overflow-y: auto;
  @media (min-width: $min-tablet) {
    padding: 55px 35px 35px 35px;
  }

  @media (min-width: $min-desktop) {
    padding: 53px 25px 35px 25px;
  }
}


.tour-card__h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #F9FBFD;
  margin: 13px 0 0 0;
  padding: 0;
}

.tour-card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #D8D8D9;
}

.tour-card__button-wrapper {
  flex-grow: 2;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: $max-mobile) {
    justify-content: flex-start;
    width: 100%;
  }
}

.tour-card__button {
  display: inline-block;
  margin-bottom: 5px;
  box-sizing: border-box;
  background: #F9FBFD;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #011C40;

  @media (max-width: $max-mobile) {
    padding:10px 53px;
    margin: 0;
  }

  @media (min-width: $min-tablet) {
    padding:14px 61px;
    margin-top: 20px;
  }

  @media (min-width: $min-desktop) {
    margin-top: 0;
    padding:10px 46px;
  }
}

.tour-card__button:hover {
  @media (min-width: $min-desktop) {
    transform: scale(1.03);
    transition: 160ms;
    cursor: pointer;
  }
}

.tour-card__button:active {
  @media (min-width: $min-desktop) {
    opacity: 0.3;
  }
}
